body {
    background-color: #f8f9fa !important; 

}



.cursor-pointer {
    cursor: pointer;
}

.bus-time {
    transition: background-color 0.3s ease;
}

.bus-time:hover {
    background-color: rgb(50, 12, 50);
    color: rgb(194, 4, 147);
}

.bus-time.abhi {
    background-color: purple !important;
    color: rgb(241, 241, 241);
}

#header{
    background-color: red;
    color: aqua;
}

#footer{
    background-color: red;
    color: aqua;
}